//Variables
$background: #fbffff;
$tableHeaderBg: #C9DBFF;
$borderColor: #BDBEC0;
$tableColor: #212529;
$totalBc: #F5FF9B;

//Variables report2
$r2BodyBg:#fff;
$r2mainColor: #E1E9FF;
$r2InvoiceColor:#A2656B;
$r2BorderColor: #23262D;
$r2companyColor: #6D8E9E;

//Variables report3
$r3InvoiceColor: #1C1E13;
$r3BorderColor:  #1C1E13;
$r3TableBg: #9E9E9E;

//Variables report4
$r4Color: #000;
$r4BigBorder:#FF9F05;
$r4TableBorder: #000;
$r4borderBottom: #000;

//Variables report5
$r5MainColor: #2F5596;
$r5BlackColor:#000;
$r5WhiteColor:#fff;
$r5GrayColor: #D9D9D9;
$r5FontColor:#000;
$r5LightGray: #F2F2F2;

@import "bootstrap.min.css";
@import "fontawesome-all.css";
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap');
body{
  background-color: $background;
}
.table-bordered{
  td,th{
    border-color: $borderColor
  }
}
table.table{
  color: $tableColor;
}
.comp-d-table{
  tbody{
    tr{
      td:first-child{
        text-align: right;
      }
    }
  }
}
.t-header-bg{
  th{
    background-color: $tableHeaderBg;
  }
}
.fourth-section{
  table{
    tbody{
      tr:last-child{
        td{
          font-weight: 700;
          &:last-child{
            background-color:$totalBc ;
          }
        }
      }
      td{
        text-align: right;
      }
      td:first-child{
        @media (min-width: 767.98px) {
          width: 90%;
        }
      }
    }
  }
}
//report1 End
//report2 start
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.fw-800{
  font-weight: 800;
}
.fw-900{
  font-weight: 900;
}
.r2{
  background-color: $r2BodyBg;
}
.red-invoice{
  color: $r2InvoiceColor;
  font-weight: 800;
  text-align: center;
  @media (min-width: 991.98px) {
    text-align: right;
  }
}
.r2-bc{
  background-color: $r2mainColor;
}
.r2-comp-details{
  ul{
    margin-bottom: 0;
    li{
      p{
        margin-bottom: 10px;
      }
      h3{
        color: $r2companyColor;
      }
      &:last-child{
        p{
          background-color: $r2mainColor;
          border-bottom: 1px solid $r2BorderColor;
          padding: 0 3px;
        }
      }
    }
  }
}
table.r2-table{
  th,td{
    border-color: $r2BorderColor ;
  }
}
.r2-table-1{
  td{
    width: 33.333%;
  }
  p{
    background-color: $r2mainColor;
    border-bottom: 1px solid $r2BorderColor;
    display: inline;

  }
}
.r2-table-2{
  td{
    background-color: $r2mainColor;
  }
}
.va-middle{
  vertical-align: middle !important;
}
.r2-border-bottom{
  border-bottom: 1px solid $r2BorderColor;
}
//report2 end
//report3 Start
.r3-invoice-word{
  text-align: right;
  h2{
    color: $r3InvoiceColor;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 9px;

  }
}
.r3-border-bottom{
  border-bottom: solid 1px $r3BorderColor;
}
.va-bottom{
  vertical-align: bottom !important;
}
.r3-table-1{
  th{
    background-color: $r3TableBg ;
    padding: 0.5rem;
    color: $r3BorderColor;
  }
  td{
    padding: 0.5rem;
    color: $r3BorderColor;
  }
}
.r3-color{
  color: $r3BorderColor;
}
//End report3
//Start report4
.r4-color{
  color: $r4Color;
}
.r4{
  border: 15px solid $r4BigBorder;
  font-family: 'PT Serif', serif;

}
.r4-logo{
  img{
    max-width: 250px;
    height: auto;
  }
}
.r4-invoice{
  h3{
    font-size: 35px;
    display: inline-block;
    border: 5px solid $r4Color;
    padding: 5px 60px;
    border-radius: 5px;
  }
}
.r4-table{
  th{
    text-transform: uppercase;
  }
  th,td{
    border-color: $r4TableBorder;
  }
}
.r4-border-bottom{
  border-bottom: 1px solid $r4borderBottom;
}
//report4 End
//report5 starting

.r5{
  color: $r5FontColor;
}
.r5-first-section{
  h2{
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 70px;
  }
}
.r5-icon-list{
  i{
    color: $r5MainColor;
    width: 25px;
    text-align: center;
  }
}
.r5-invoice-card{
  background-color: $r5MainColor;
  color: $r5WhiteColor;
  padding: 135px 10px 25px 10px;
  margin-right: 40px;
  h2{
    border-bottom: 2px solid $r5WhiteColor;
    display: inline-block;
  }
}
.r5-table{
  text-align: center;
  tbody{
    tr{
      th,td{
        border: 0;
      }
      th:first-child,th:nth-child(2) {
        text-align: left;
      }
      td:first-child,td:nth-child(2){
        text-align: left;
      }
      background-color: $r5LightGray;
      &:nth-child(even){
        background-color: $r5GrayColor;
      }
    }
    th{
      color: $r5WhiteColor;
      background-color: $r5MainColor;
      &:last-child{
        border-left: 2px solid $r5WhiteColor;
      }
    }
    th:first-child , th:nth-child(2){
      background-color: $r5BlackColor;
    }
    th:nth-child(2){
      border-right: 2px solid $r5WhiteColor;
    }
  }
}
.r5-blue-color{
  color: $r5MainColor;
}
.r5-blue-bg{
  background-color:$r5MainColor ;
}
.r5-black-bg{
  background-color: $r5BlackColor;
}
.r5-white-color{
  color:$r5WhiteColor
}
.r5-total{
  td{
   font-size: 20px;
    font-weight: 700;
  }
}
.r5-border-bottom{
  border-bottom: 1px solid $r5FontColor;
}
.r5-fourth-section{
  background-color: $r5MainColor;
  text-align: center;
  color: $r5WhiteColor;
  padding: 10px;
}
